body { padding-top: 55px; font-family: 'Noto Sans', sans-serif; }

.panel uib-accordion > .list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}
.panel uib-accordion >.list-group,.panel>.panel-collapse>.list-group{margin-bottom:0}
    .panel uib-accordion > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item { border-width: 1px 0; border-radius: 0; }
    .panel uib-accordion > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child { border-top: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; }
    .panel uib-accordion > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child { border-bottom: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .panel-heading + .panel-collapse uib-accordion > .list-group .list-group-item:first-child { border-top-left-radius: 0; border-top-right-radius: 0; }
.panel > .table { border-bottom: 1px solid #ddd; }

.table-hover > tbody > tr:hover { background-color: #b9efea; }

.grid { height: 500px; border:0; }
.ui-grid-column-menu-button-last-col { margin: 0; }
.ui-grid-top-panel{ background:#FFF; border-bottom:2px solid #ddd; }
.ui-grid-header-cell { border: 0; }
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child { border: 0; }
.ui-grid-row:nth-child(odd) .isSubPlayer .ui-grid-cell { background: #fcf8e3; }
.ui-grid-row:nth-child(even) .isSubPlayer .ui-grid-cell { background: #eae7d2; }
.maxColValue { font-weight: bold; }

.tabsWrap { padding: 15px; }
    .tabsWrap .tab-content { border: 1px solid #ddd; border-top:0; }

.ui-grid-row:nth-child(even) .ui-grid-cell.fantasy { background-color: #9decc8; }
.ui-grid-row:nth-child(odd) .ui-grid-cell.fantasy { background: #baefd7; }

/* Dashboard */
.dashboard { background: #FFF; /* f4f5ed */ }
    .dashboard .box { background: #FFF; padding:10px; }
        .dashboard .box h3 { margin: 0; padding: 5px 5px 10px 5px; border-bottom: 1px solid #dfdfdf; margin-bottom:10px; font-weight:bold; }
        .dashboard .box h4 { padding: 5px; }
    .dashboard .separator { padding: 3px; background: #666; border-bottom-color: #666;  }
    .dashboard tbody > tr:nth-of-type(odd) { background: none; }
    .dashboard tbody > tr:nth-child(4n+1) { background: #f9f9f9; }
    .dashboard tbody > tr:nth-of-type(odd) > td, .dashboard tbody > tr:nth-of-type(odd) > th { border-top-width: 2px; }
    .dashboard tbody > tr:nth-of-type(odd) > th { border-color: #9decc8; }
    .dashboard .parent-table.table-hover > tbody > tr:hover:nth-of-type(odd) { background-color: #b9efea; }
    .dashboard .parent-table.table-hover > tbody > tr:hover:nth-of-type(even) { background: none; }
        .dashboard .parent-table.table-hover > tbody > tr:nth-of-type(even) > td { padding: 15px; border:0; }
    .dashboard tbody > tr:nth-child(4n+1).isSubPlayer { background: #fcf8e3; }
    .dashboard tbody > tr:nth-child(4n).isSubPlayer { background: #eae7d2; }

    .dashboard .nested-table.table { border-top: 5px solid #fcf8e3; margin:0; }
        .dashboard .nested-table.table > thead > tr > th, .dashboard .nested-table.table > tbody > tr > td { font-size: 11px; padding: 2px; }
        .dashboard .nested-table.table > tbody > tr > td { background: #fbfbfb; }