<div class="panel panel-default">
    <div class="panel-heading">Stats</div>
    <table class="table table-bordered table-condensed table-striped" data-ng-hide="isTotalStats">
        <tbody>
            <tr>
                <th>OGB</th>
                <td>{{ Week.OGB.Name }}</td>
                <th>DGB</th>
                <td>{{ Week.DGB.Name }}</td>
            </tr>
        </tbody>
    </table>
    <div class="tabsWrap">
        <div ui-grid="gridOptions" class="grid" ui-grid-pinning></div>
    </div>
</div>